*{
  padding: 0px;
  margin: 0px;
}
.container{
  max-width: 1000px!important;
}
body{
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
section{
  width:100%;
}
main{
  flex: 1;
}
.link{
  display: block;
  background-color: $blue;
  padding: 18px 10px 16px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    color:$white;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.4);
    text-decoration: none;
  }
  @include font($font,20px,800,$white);
  line-height: 20px;
  text-decoration: none;
  &_page_main{
    opacity: 0;
    transition-duration: 800ms;
    transition-property: opacity;
    width:294px;
    margin: 0px auto;
  }
}
.page-title{
  &.active{
    opacity: 1;
  }
  opacity: 0;
  transition-duration: 800ms;
  transition-property: opacity;
  position: relative;
  text-transform: uppercase;
  margin: 0px auto 0px;
  text-align: center;
  &__padding-top{
    padding-top: 40px;
  }
  max-width: 780px;
  span{
    display: block;
    position: relative;
    height: 10px;

    width:120px;

    margin: 0px auto 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  @include font($font,57px,900,$black);
  @include breakpoint(max-width 900px) {
    font-size: 50px;
    @include breakpoint(max-width 800px) {
      font-size: 45px;
      @include breakpoint(max-width 700px) {
        font-size: 40px;
        @include breakpoint(max-width 600px) {
          font-size: 35px;
          @include breakpoint(max-width 450px) {
            font-size: 30px;
          }
        }
      }
    }
  }
}
.social-list{
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  align-items: center;
  &__item{
    &:first-child{
      margin-right: 10px;
      img{
        height:40px;
        width:40px;
      }
    }
    &:nth-child(2){
      img{
        height:30px;
        width:53px;
      }
    }
  }
}
.dark-filter{
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  background-color: rgba(72,72,72,.5);
}
a.full{

  display: block;

  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}
.modal-block{
  z-index: 200;
  background-color: white;
  position: fixed;
  width:450px;
  @include breakpoint(max-width 500px) {
    width:320px;
  }
  top:0%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,.4);
  right:-500px;
  transition-property: right;
  transition-duration: 500ms;
  &.active{
    right:0px;
    transition-property: right;
    transition-duration: 500ms;
  }
  &__form{
    padding: 20px;
    width:80%;
    @include breakpoint(max-width 500px) {
      width:100%;
    }
    display: flex;
    flex-direction: column;
  }
  &__input{
    @include font($font,16px,400,black);
    background-color: rgba(255, 255, 254, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    color: #3D3D3D;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #3D3D3D;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color:  #3D3D3D;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color:  #3D3D3D;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #3D3D3D;
    }
  }
  &__textarea{
    @include font($font,16px,400,black);
    background-color: rgba(255, 255, 254, 1);
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 1);
    color: #3D3D3D;
    margin: 0 0 5px;
    width: 100%;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    resize: none;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #3D3D3D;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color:  #3D3D3D;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color:  #3D3D3D;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #3D3D3D;
    }
  }
  &__button{
    background-color: white;
    border: none;
    text-transform: uppercase;
    @include font($font,20px,400,black);
    outline: none;
    display: block;
    width:65px;
    margin: 5px 5px 0px auto;
  }

}
.close-but{
  position: absolute;
  width:28px;
  height:27px;
  top:25px;
  right:25px;
  cursor: pointer;
  transition-property: transform;
  transition-duration: 500ms;
  &:hover{
    transform:rotate(90deg);
    transition-property: transform;
    transition-duration: 500ms;
  }
}
.white-filter{
 opacity: 0;
  z-index: -10;
  &.active{
    z-index: 100;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
  }
  position: absolute;
  height: 100%;
  top:0px;
  width:0px;
  width:100%;
  background-color: rgba(255,255,255,.7);
}
a.all{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}