footer{
  background-color: #d1d1d1;
}
.footer-block{
  display: flex;
  justify-content: space-between;
  padding: 18px 0px 25px;
  align-items: center;
  @include breakpoint(max-width 550px) {
    flex-direction: column;
  }
  &__social-list{
    display: flex;
    align-items: center;
    padding: 0px;
    margin: 0px;
    @include breakpoint(max-width 550px) {
      margin-bottom: 15px;
    }
  }
  &__mail{
    padding: 0px;
    margin: 0px 0px 0px 10px;

    @include font($font,14px,300,#747474);
  }
  &__text{
    padding: 0px;
    margin: 0px 0px 0px 10px;

    @include font($font,14px,300,#747474);
  }
}